@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.7%;
    box-sizing: border-box;
  
}
body{
    font-family: 'Press Start 2P', sans-serif;
    background-color: black;
    color:white
}
header{
    position: relative;
    width: 100vw;
    height: 35vh;
    border-bottom: 1rem solid white;
}
.again{
    position: relative;
top:2rem;
left:3rem
}
.between{
    /*position: relative;*/
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.3em;
}
h1{
    position: absolute;
    top: 40%;
    /* left: 50%; */
    right: 2%;
    font-size: 4rem;
    /* transform: translate(-50%,-50%); */
    text-align: center;
    width: 100%;
    color: white;
}
.btn{
    font-family: 'Press Start 2P', sans-serif;
    padding: 2% 3%;
    border: none;
    background: #eee;
    font-size: 2.2rem;
}
.number_tobe_guessed{
    position: absolute;
    text-align: center;
    padding: 2% 4%;
    background: #eeeeee;
  left: 41%;
    top: 75%;
    height: 11rem;
    font-size: 4rem;
    color: black;
    display: block;
    width:15rem;
  
 
}
    

.container{
    height: 65vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.left{
    display: flex;
    /* flex-grow: 4; */
    flex-direction: column;
    width:52rem;
    align-items: center;
}
.guess_number{
    height: 10rem;
    background: none;
    width: 24rem;
    margin-top: 2%;
    margin-bottom: 9%;
    border: 4px solid white;
    font-size: 5rem;
    padding: 2.5rem;
    color:white;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
}
.check{
    padding:6% 8%;
}
.right{
width:50rem;
}

.right p{
    font-size: 2rem;
    height: 3rem;
}
.right .message{
    font-size: 2rem;
    height: 9rem;
}